<div id="edit-container">
    <div id="edit-photo">
        <a href="/gallery/{{{photo.id}}}">
            <img src="{{photo.link}}">
        </a>
    </div>
    <div id="edit-forms-div">
        <form action="/gallery/{{photo.id}}?_method=PUT" method="POST">
        Author: <br><input type="text" name="author" value="{{photo.author}}">
            <input type="hidden" name="link" value="{{photo.link}}">
            <input type="hidden" name="description" value="{{photo.description}}">
            <input type="submit" value="Update">
        </form>
        <form action="/gallery/{{photo.id}}?_method=PUT" method="POST">
            <input type="hidden" name="author" value="{{photo.author}}">
        Link: <br><input type="text" name="link" value="{{photo.link}}">
            <input type="hidden" name="description" value="{{photo.description}}">
            <input type="submit" value="Update">
        </form>
        <form action="/gallery/{{photo.id}}?_method=PUT" method="POST">
            <input type="hidden" name="author" value="{{photo.author}}">
            <input type="hidden" name="link" value="{{photo.link}}">
        Description: <br><input type="text" name="description" value="{{photo.description}}">
            <input type="submit" value="Update">
        </form>
    </div>
    <div id="navigation-container">
        <form action="/" method="GET">
            <input type="submit" name="current-picture" value="Current Picture" formaction="/gallery/{{photo.id}}" formmethod="GET">
            <input type="submit" name="home" value="Gallery">
        </form>
        <form action="/gallery/{{photo.id}}?_method=DELETE" method="POST">
            <input type="submit" name="delete-button" value="Delete">
        </form>
    </div>
    {{{messages}}}
</div>

