<form action="/gallery/{{photo.id}}?_method=PUT" method="POST">
    Current author: <br><input type="text" name="author" value="{{photo.author}}"><br>
    <input type="submit" value="Update author">
</form>
<form action="/gallery/{{photo.id}}?_method=PUT" mehtod="POST">
    Current link: <br><input type="text" name="link" value="{{photo.link}}"><br>
    <input type="submit" value="Update link">
</form>
<form action="/gallery/{{photo.id}}?_method=PUT" mehtod="POST">
    Current description: <br><input type="text" name="description" value="{{photo.description}}"><br>
    <input type="submit" value="Update description">
</form>