
<div id="list-left">
    <div id="list-card-left">
        <img src="{{photo.link}}">
        <h1>{{photo.author}}<h1>
        <h2>{{photo.link}}<h1>
        <h3>{{photo.description}}<h1>
    </div>
</div>
<div id="list-right">
    <div class="list-card-right">

    </div>
</div>

<form action="/gallery/{{photo.id}}/edit" method="GET">
   <br><input type="submit" value="EDIT">
</form>
<form action="/" method="GET">
    <input type="submit" name="home" value="Gallery">
</form>
{{{messages}}}