<div id="specific-photo">
    <img src="{{photo.link}}">
    <h1>{{photo.author}}<h1>
    <h2>{{photo.link}}<h1>
    <h3>{{photo.description}}<h1>
</div>
<br><input type="submit" value="DELETE" formaction="/gallery/{{photo.id}}" formmethod="DELETE">