{{#if username}}
    <div id="user-welcome">
        <div id="username-logo">
            <span>{{username}} home</span>
         </div>
         <div id="user-buttons">
            <form action="/gallery/new" method="GET">
                <input type="submit" name="new" value="New Post" class="home-buttons">
            </form>
            <form action="/user-page" method="GET">
                <input type="submit" name="user-home-button" value="My Gallery" class="home-buttons">
            </form>
            <form action="/logout" method="GET">
                <input type="submit" name="logout-button" value="Sign Out" class="home-buttons">
            </form>
            <form action="/" method="GET">
                <input type="submit" name="gallery-button" value="Gallery" class="home-buttons">
            </form>
         </div>

    </div>
    {{else}}
    <div id="user-welcome">
        <div id="username-logo">
            <span>Welcome!</span>
        </div>
        <div id='user-buttons'>
            <form action="/login" method="GET">
                <input type="submit" name="login-button" value="Sign In" class="home-buttons">
            </form>
            <form action="/create" method="GET">
                <input type="submit" name="sign-up-button" value="Sign Up" class="home-buttons">
            </form>
        </div>
    </div>
    {{/if}}


    <div class="flash-messages">
            {{{messages}}}
    </div>

<div id="sign-in">

    <div id="user-gallery-container">

        {{#each photos}}
        <div class="user-photo-card">
            <h3>{{author}} - {{description}}</h3>
            <a href="/gallery/{{{id}}}">
                <img src="{{link}}" class="image-box">
             </a>
            <h3>{{shortLink}} Post By - {{user.username}}</h3>
        </div>
        {{/each}}
    </div>
</div>
