
<div id="sign-in">
    {{#if username}}
    <div id="user-welcome">
        Welcome <span>{{username}}</span>
    </div>
    <form action="/gallery/new" method="GET">
        <input type="submit" name="new" value="Create new post">
    </form>
    <form action="/logout" method="GET">
        <input type="submit" name="logout-button" value="Sign Out">
    </form>
    {{else}}
    <div id="new-welcome">
        <span>Welcome! Please sign in!</span>
    </div>
    <form action="/login" method="GET">
        <input type="submit" name="login-button" value="Sign In">
    </form>
    {{/if}}
</div>
<div id="photo-container"></div>
{{#each photos}}
<div class="photo-card">
    <h3>{{author}} - {{shortLink}}</h2>
    <div class="photo">
    <a href="/gallery/{{{id}}}">
        <img src="{{link}}">
        </a>
    </div>
    <h4>description: {{description}}</h2>
</div>
{{/each}}
</div>