
<div id="new-container">
    <form action="/gallery/new" method="GET">
        <input type="submit" name="new-button" value="New">
        <input type="submit" name="login-button" value="Sign In" formaction="/login" formmethod="GET">
    </form>
    <form action="/logout" method="GET">
        <input type="submit" name="logout-button" value="Sign Out">
    </form>
</div>
<div id="photo-container"></div>
{{#each photos}}
<div class="photo-card">
    <h3>{{author}} - {{shortLink}}</h2>
    <div class="photo">
    <a href="/gallery/{{{id}}}">
        <img src="{{link}}">
        </a>
    </div>
    <h4>description: {{description}}</h2>
</div>
{{/each}}
</div>